In [1]:
import os
import cv2
import pandas as pd

## Load data

In [2]:
labels_df = pd.read_csv('../data/annotations.tsv', sep='\t')

In [3]:
labels_df.head()

,filename,code,x_from,y_from,width,height
0,images/c234c76c-d72d-4d60-8066-e99f62361c1c--r...,4810153026194,210,542,279,143
1,images/0b56af7e-386c-410a-8f46-74350f755d77--r...,8714100708408,216,474,409,308
2,images/77c7bd8d-bb64-4c4b-94c5-798a903eaa4d--r...,4820240030508,173,657,589,293
3,images/5d60b81b-e31d-4530-bed1-27a8872d1f02--r...,4607001770350,66,665,549,176
4,images/bb225480-a447-4232-85ab-ce22f1dec070--r...,4605035006964,269,592,448,247

## Convert labels to YOLO

In [4]:
!mkdir ../data/labels

mkdir: cannot create directory ‘../data/labels’: File exists

In [5]:
src_dir = '../data/labels'

for _, item in labels_df.iterrows():
    file_name = item['filename'].split('/')[1]
    dst_path = os.path.join(src_dir, file_name.replace('.jpg', '.txt'))

    img = cv2.imread(f'../data/{item["filename"]}')

    img_size = (img.shape[1], img.shape[0])

    x_center = (item['x_from'] + item['width'] // 2) / img_size[0]
    y_center = (item['y_from'] + item['height'] // 2) / img_size[1]
    width = item['width'] / img_size[0]
    height = item['height'] / img_size[1]
    
    with open(dst_path, 'wt') as file:
        file.write(f'0 {x_center} {y_center} {width} {height}\n')